<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Repertoar</servlet-name>
        <servlet-class>servlets.Repertoar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepertoarServlet</servlet-name>
        <servlet-class>servlets.RepertoarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>servlets.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>servlets.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFilmovaServlet</servlet-name>
        <servlet-class>servlets.ListaFilmovaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajFilmServlet</servlet-name>
        <servlet-class>servlets.DodajFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiFilmServlet</servlet-name>
        <servlet-class>servlets.BrisiFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmjeniFilmServlet</servlet-name>
        <servlet-class>servlets.IzmjeniFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaKorisnikaServlet</servlet-name>
        <servlet-class>servlets.ListaKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiKorisnikaServlet</servlet-name>
        <servlet-class>servlets.BrisiKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmjeniKorisnikaServlet</servlet-name>
        <servlet-class>servlets.IzmjeniKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaServlet</servlet-name>
        <servlet-class>servlets.SalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KupiKartuServlet</servlet-name>
        <servlet-class>servlets.KupiKartuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatiServlet</servlet-name>
        <servlet-class>servlets.PlatiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletKupac</servlet-name>
        <servlet-class>servlets.ServletKupac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RezervacijaServlet</servlet-name>
        <servlet-class>servlets.RezervacijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RezervisiKartuServlet</servlet-name>
        <servlet-class>servlets.RezervisiKartuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PodaciRezervisteServlet</servlet-name>
        <servlet-class>servlets.PodaciRezervisteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RezervisanoNa</servlet-name>
        <servlet-class>servlets.RezervisanoNa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtkaziServlet</servlet-name>
        <servlet-class>servlets.OtkaziServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UclanjenjeServlet</servlet-name>
        <servlet-class>servlets.UclanjenjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaSjedistaServlet</servlet-name>
        <servlet-class>servlets.ListaSjedistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajSjedisteServlet</servlet-name>
        <servlet-class>servlets.DodajSjedisteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmjeniSjedisteServlet</servlet-name>
        <servlet-class>servlets.IzmjeniSjedisteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiSjedisteServlet</servlet-name>
        <servlet-class>servlets.BrisiSjedisteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdajaServlet</servlet-name>
        <servlet-class>servlets.ProdajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MngIzvServlet</servlet-name>
        <servlet-class>servlets.MngIzvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbaciPrijedlog</servlet-name>
        <servlet-class>servlets.UbaciPrijedlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepReg</servlet-name>
        <servlet-class>servlets.RepReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutomatskiReset</servlet-name>
        <servlet-class>servlets.AutomatskiReset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepertoarNS</servlet-name>
        <servlet-class>servlets.RepertoarNS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Repertoar</servlet-name>
        <url-pattern>/Repertoar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepertoarServlet</servlet-name>
        <url-pattern>/RepertoarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/RegistracijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFilmovaServlet</servlet-name>
        <url-pattern>/ListaFilmovaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajFilmServlet</servlet-name>
        <url-pattern>/DodajFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiFilmServlet</servlet-name>
        <url-pattern>/BrisiFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmjeniFilmServlet</servlet-name>
        <url-pattern>/IzmjeniFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaKorisnikaServlet</servlet-name>
        <url-pattern>/ListaKorisnikaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiKorisnikaServlet</servlet-name>
        <url-pattern>/BrisiKorisnikaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmjeniKorisnikaServlet</servlet-name>
        <url-pattern>/IzmjeniKorisnikaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaServlet</servlet-name>
        <url-pattern>/SalaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KupiKartuServlet</servlet-name>
        <url-pattern>/KupiKartuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatiServlet</servlet-name>
        <url-pattern>/PlatiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletKupac</servlet-name>
        <url-pattern>/ServletKupac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RezervacijaServlet</servlet-name>
        <url-pattern>/RezervacijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RezervisiKartuServlet</servlet-name>
        <url-pattern>/RezervisiKartuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PodaciRezervisteServlet</servlet-name>
        <url-pattern>/PodaciRezervisteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RezervisanoNa</servlet-name>
        <url-pattern>/RezervisanoNa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtkaziServlet</servlet-name>
        <url-pattern>/OtkaziServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UclanjenjeServlet</servlet-name>
        <url-pattern>/UclanjenjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaSjedistaServlet</servlet-name>
        <url-pattern>/ListaSjedistaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajSjedisteServlet</servlet-name>
        <url-pattern>/DodajSjedisteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmjeniSjedisteServlet</servlet-name>
        <url-pattern>/IzmjeniSjedisteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiSjedisteServlet</servlet-name>
        <url-pattern>/BrisiSjedisteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdajaServlet</servlet-name>
        <url-pattern>/ProdajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MngIzvServlet</servlet-name>
        <url-pattern>/MngIzvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbaciPrijedlog</servlet-name>
        <url-pattern>/UbaciPrijedlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepReg</servlet-name>
        <url-pattern>/RepReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutomatskiReset</servlet-name>
        <url-pattern>/AutomatskiReset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepertoarNS</servlet-name>
        <url-pattern>/RepertoarNS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
